/* Mobile-first styles */
@media screen and (max-width: 767px) {
    /* Header and menu adjustments */
    .navigation .nav__menu {
      display: none;
    }
    .menu {
      display: block;
    }
  
    /* Main section adjustments */
    .home {
      flex-direction: column;
    }
    .home__text {
      text-align: center;
    }
    .home__img img {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }
  
    /* Services section adjustments */
    .servicos {
      grid-template-columns: repeat(1, 1fr);
    }
  
    /* Gallery section adjustments */
    .banner__galeria .image {
      flex: 50%;
      padding: 5px;
    }
  
    /* Location section adjustments */
    .banner__localizacao {
      flex-direction: column;
    }
    .conteudo__localizacao {
      width: 100%;
      margin-left: 0;
    }
    .mapa {
      width: 100%;
    }
  }
  
  /* Tablet and larger screens */
  @media screen and (min-width: 768px) {
    /* Adjustments for tablet and larger screens go here */
  }
  